wsdl-examples/complexeWSDL.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions name="urn:CompanyInfo"
             targetNamespace="urn:CompanyInfo"
             xmlns:typens="urn:CompanyInfo"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns="http://schemas.xmlsoap.org/wsdl/">        
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/myWSDL/">
      <xsd:element name="NewOperation">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NewOperationResponse">
        <xsd:complexType name="outputResult">
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string" maxOccurs="unbounded" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="QuelJourRequest">
    <wsdl:part name="parameters" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="QuelJourResponse">
    <wsdl:part name="parameters" type="typens:outputResult"/>
  </wsdl:message>
  <wsdl:portType name="QuelJour">
    <wsdl:operation name="QuelJour">
      <wsdl:input message="tns:QuelJourRequest"/>
      <wsdl:output message="tns:QuelJourResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="myWSDLSOAP" type="tns:QuelJour">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="QuelJour">
      <soap:operation soapAction="http://www.example.org/myWSDL/QuelJour"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="myWSDL">
    <wsdl:port binding="tns:myWSDLSOAP" name="myWSDLSOAP">
      <soap:address location="http://localhost/togithub/wsdl/serveur.php"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>